<!DOCTYPE html>
<html th:replace="base :: html" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">

    <h1 class="page-title">Connexion</h1>

    <form action="/login" method="post" class="login-box">

        <h2>Connexion</h2>

        <p th:if="${error}" class="error">Identifiants incorrects</p>

        <label>Email</label>
        <input type="text" name="username" required>

        <label>Mot de passe</label>
        <input type="password" name="password" required>

        <button>Se connecter</button>

    </form>

    <p>Pas encore inscrit ?
        <a th:href="@{/register}">Créer un compte</a>
    </p>

</div>

</html>

